.l-footer {
    width: 100%;
    font-weight: normal;
    margin: 0;
    letter-spacing: 2px;
    text-align: left;
    padding: 40px 0 32px;
    font-size: 10px;
    .l-footer--container {
        padding: 0 64px;
    }
}