.l-main {
    height: 100%;
    .l-main--about{
        height: 25%;
        width: 100%;
    }
    .l-main--service {
        height: 25%;
        width: 100%;
    }
    .l-main--skill {
        padding: 30px 0 60px 0;
        margin: 0 auto;
    }
    .l-main--contact{
        height: 25%;
        width: 100%;
    }
}