/*タイトル*/
.c-introduction {
    margin: 0 auto;
    padding: 300px 0 300px 0;
    color: black;
    top: 0;
  }
.c-introduction--myname {
    letter-spacing: 4px;
    font-size: 6vw;
    margin: 0 auto;
    width: 100%;
}
.c-introduction--profession {
    color: #aaaaaa;
    font-size: 3vw;
}